
.footer_main_div_bckg {
    background-color: rgb(0, 44, 190);
    /* width: 1900px; */
    width: 99.5vw;
    height: 200px;

    position: relative;

    /* top: auto; */
    /* bottom: 20px; */
    left: -9.5vw;
    right: 0vw;
}
@media (max-width: 1450px) {
    .footer_main_div_bckg {
        width: 1fr;
        left: -5vw;
        right: -4vw;
    }
  }

.footer_main_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.s {
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: -30px;
    background-color: rgba(5, 5, 255, 0);
    width: 200px;
    height: 100px;
}

.section2_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_bar_txt {
    font-family: 'Roboto' ,'Times New Roman', Times, serif;
    margin-top: 6px;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.mr {
    margin-top: 7px;
}

.footer_middle_cr {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 600;
    white-space: nowrap;
}

.footer_middle_gm {
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.footer_middle_ps {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 500;
    white-space: nowrap;
}



.footer_msg img{
    margin-right: 10px;
    margin-bottom: 20px;
}