.main_div_content_bckg_img {
  background: #fff;
  background-image: linear-gradient(90deg, #eee 2px, transparent 0), linear-gradient(180deg, #eee 2px, transparent 0);
  background-position: 0 10px;
  background-size: 43px 57px;
  z-index: -1;
  height: 1fr;
  


  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_div___ {
  border-top: 1px solid rgba(156, 147, 147, 0.5);
  border-bottom: 1px solid rgba(156, 147, 147, 0.5);
  margin: 40px 80px 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

.main_div___ p {
  margin: 50px 100px 0px 100px;
  font-size: 30px;
  font-weight: 600;
}

.from_main_button___ {
  margin: 30px 100px 45px 100px;
}




.blog_comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.blog_comments_title {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  margin: 100px 0px 15px 0px;
  font-size: 40px;
  font-weight: 700;
}





.main_div_content_bckg_img {
  background: #fff;
  background-image: linear-gradient(90deg, #eee 2px, transparent 0), linear-gradient(180deg, #eee 2px, transparent 0);
  background-position: 0 10px;
  background-size: 43px 57px;
  z-index: -1;
}

.main_div_content {
  border: 1px solid rgba(156, 147, 147, 0.5);
  margin: 40px 120px 0px 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

.main_div_content h2 {
  margin: 50px 80px 0px 80px;
  font-size: 30px;
  font-weight: 600;
}

.main_div_content p {
  margin: 30px 80px 0px 80px;
  font-size: 20px;
  font-weight: 500;
}


.main_div_content_ul {
  margin: 30px 80px 0px 100px;
  font-size: 20px;
  font-weight: 500;
  list-style-type: decimal;
  padding-bottom: 50px;
}

.main_div_content_ul p {
  margin: 15px 0px 10px 20px;
  font-size: 20px;
  font-weight: 400;
}


.main_div_content_ul li {
  margin-top: 20px;
  /* margin: 30px 80px 0px 100px;
  list-style-type: decimal; */
  font-size: 25px;
  font-weight: 500;
}

.main_div_content_ul h3{
  margin: 30px 0px 0px 0px;
  font-size: 25px;
  font-weight: 700;
}



.main_div_content div {

  width: 100%;
  display: flex;
  flex-direction: column;
}

.ff {
  margin: 50px 170px 35px 170px;
  align-items: center;
}


/* com 1 //////////////////////////////////////////////// */

.main_div_content_blog_com1 {
  border: 1px solid rgba(156, 147, 147, 0.5);
  border-radius: 50px;
  margin: 40px 120px 0px 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  width: 1000px;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.main_div_content_blog_com1 img{
  top: 20px;
  left: 60px;
  position: absolute;
  height: 60px;
  border-radius: 200px;
}

.main_div_content_blog_com1 h2 {
  margin: 20px 80px 0px 140px;
  font-size: 23px;
  font-weight: 600;
}

.main_div_content_blog_com1 p {
  margin: 30px 80px 20px 80px;
  font-size: 19px;
  font-weight: 400;
}

.left_com1 {
  position: relative;
  left: -150px;
}

/* com 2 //////////////////////////////////////////////// */

.right_com2 {
  display: flex;
  flex-direction: column;
  align-items: end;

  position: relative;
  right: -150px;
}

.main_div_content_blog_com2 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */

  border: 1px solid rgba(156, 147, 147, 0.5);
  border-radius: 50px;

  margin: 40px 120px 0px 120px;
  padding: 20px 0px 20px 0px;

  background-color: #fff;
  width: 1000px;
  position: relative;
}

.main_div_content_blog_com2 img{
  display: flex;
  top: 20px;
  right: 60px;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 500px;

  flex-direction: column;
  align-items: end;
}

.main_div_content_blog_com2 h2 {
  display: flex;
  margin: 20px 140px 0px 140px;
  font-size: 23px;
  font-weight: 600;

  flex-direction: column;
  align-items: end;
}

.main_div_content_blog_com2 p {
  margin: 20px 80px 20px 80px;
  font-size: 19px;
  font-weight: 400;
}