.main_div {
  display: flex;
  flex-direction: column;
}

.main_div_content_bckg_img {
  background: #fff;
  background-image: linear-gradient(90deg, #eee 2px, transparent 0), linear-gradient(180deg, #eee 2px, transparent 0);
  background-position: 0 10px;
  background-size: 43px 57px;
  z-index: -1;
}


.div_content_welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-top: 50px;
  margin-left: 30vw;
  width: 100vh;
  min-width: 70vh;

  background-color: rgb(0, 102, 255);
  padding: 15px 40px 15px 50px;
  border: solid rgba(0, 0, 139, 0);
  border-radius: 500px;
}

.text_content_welcome {
  padding-left: 50px;
}

.text_content_welcome * {
  color: #fff;
}

.text_content_welcome h2 {
  font-size: 4vh;
}

.text_content_welcome p {
  font-size: 2vh;
}

.welcome_img {
  height: 30vh;
  padding-right: 20px;
}