
.main_div_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_div_content_text {
  margin: 50px 0px 0px 0px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_div_content_quziz_cards {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 0px 0px;

  border: solid 2px gray;
  border-radius: 10px;
  padding: 10px;

  background-color: rgb(255, 255, 255);

  min-width: 400px;
}



.inf_about_cards {
  margin: 0px 100px 0px 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
}

.inf_about_cards p {
  width: 240px;
}

.inf_about_cards button{

  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  padding: 4px 14px;
  /* border: 0px; */
  /* border: 1px solid black; */

  border-radius: 100px;
  background-color: rgb(44, 245, 54);

  margin: 30px 0px 0px 0px;
  transition: all 0.5s;
}

.inf_about_cards button:hover{
  color: rgb(44, 245, 54);
  background-color: rgb(255, 255, 255);
  /* border: 1px solid black; */
}

.cards img {
  width: 8vw;
  min-width: 140px;
  max-width: 180px;
  padding: 20px 20px 20px 20px;
}